<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
</head>
<body>
    <nav>
        <div>
            <h2 class="logo">Arghyo's Portfolio</h2>
        </div>
        <div class="menu-items">
            <a href="">services</a>
            <a href="/projects">projects</a>
            <a href="">about</a>
            <a href="">contacts</a>
            <a href="/pokemon">pokemon</a>
        </div>
    </nav>
   
    <section>
        <div class="textdiv">
            <h1 id="Header">My Portfolio Site</h1>
        </div>


        <div class="imagediv">
            <img src="../static/pexels-energepic-com-27411-159888.jpg" alt="">
        </div>
    </section>


<a href=""></a>
<script src="/script/main.js"></script>

</body>
</html>