<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="paint.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
</head>


<body>
    
    <nav>
        <div>
            <h2 class="logo">Arghyo's Portfolio</h2>
        </div>
        <div class="menu-items">
            <a href="">services</a>
            <a href="/projects">projects</a>
            <a href="">about</a>
            <a href="">contacts</a>
            <a href="/pokemon">pokemon</a>
        </div>
    </nav>
</body>


</html>